.main-page {
  text-align: center;
  margin-top: 300px;
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-weight: 600;
}
