app-navigation-bar {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile {
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid > mat-card {
  margin-top: 40px;
  max-width: 300px;
  height: 614px;
}

mat-card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5 rem;
}

mat-form-field {
  margin: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  text-align: center;
}

.infobutton {
  margin: 10px;
  padding: 30px;
}

img {
  max-height: 400px;
  margin: 10px;
}

.movies-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.movies-header > mat-card {
  margin: 20px;
  max-width: 300px;
  height: 614px;
}

.favoriteMovies {
  position: relative;
}

.favoriteMovies-header {
  text-align: center;
}

.favoriteMovies-header > h2 {
  margin-top: 40px;
  color: white;
}

@media only screen and (min-width: 700px) {
  .grid > mat-card {
    margin-top: 4rem;
    max-width: 500px;
    max-height: 400px;
  }
}
