app-navigation-bar {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile {
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  // max-width: 500px;
  margin: auto;
  margin-top: 40px;
}

mat-card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

mat-form-field {
  margin: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  text-align: center;
}

.infobutton {
  margin: 10px;
  padding: 30px;
}

img {
  max-height: 400px;
  margin: 10px;
}

mat-card {
  margin: 20px;
  max-width: 300px;
  height: 614px;
}

.movies-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.favoriteMovies {
  position: relative;
  text-align: center;
}
